body {
  font-family: Arial, sans-serif;
  text-align: center;
}
#inputContainer {
  margin-bottom: 20px;
}

#ketQua {
  font-weight: bold;
  margin-top: 20px;
}

button {
  margin-top: 20px;
}

#canvasContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-items: center;
}

#maTranKe {
  float: right;
  margin-top: -605px;
  margin-right: 220px;
}

#maTranKe table {
  border-collapse: collapse;
}

#maTranKe th,
#maTranKe td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

#maTranKe th {
  background-color: #f0f0f0;
}
