:root {
  --color-dark: #0d0a0b;
  --color-gray: #454955;
  --color-light: #f3eff5;
  --color-green: #72b01d;
  --color-dark-green: #3f7d20;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-light);
  color: var(--color-dark);
  min-height: 100vh; /* Chiều cao tối thiểu là 100% viewport */
  display: flex;
  flex-direction: column;
  margin: 0; /* Reset margin mặc định */
}

h1 {
  color: var(--color-dark);
  text-align: center;
  font-size: 2.5rem;
}

.container {
  flex: 1; /* Phần thân sẽ đẩy giãn để đẩy footer xuống dưới */
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh; /* Điều chỉnh chiều cao để đưa cards vào giữa theo chiều dọc */
}

.option-card {
  background-color: var(--color-light);
  border-radius: 15px;
  padding: 20px;
  max-width: 600px; /* hoặc kích thước phù hợp */
  margin: 0 auto; /* Căn giữa card trong cột */
  text-align: center;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.option-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 6px rgba(0, 0, 0, 0.2);
}

.option-card i {
  font-size: 48px;
  color: var(--color-green);
}

.option-card h3 {
  color: var(--color-dark);
  margin-top: 15px;
}

.option-card p {
  color: var(--color-gray);
}

.option-card .btn-primary {
  background-color: var(--color-dark-green);
  border-color: var(--color-dark-green);
}

.option-card .btn-primary:hover {
  background-color: var(--color-green);
  border-color: var(--color-green);
}

footer {
  background-color: var(--color-dark);
  font-weight: 550;
  color: var(--color-light);
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.social-links a {
  color: var(--color-light);
  font-size: 30px;
}

.social-links a:hover {
  color: var(--color-green);
}
