:root {
  --color-Black: #000000;
  --color-Oxford-blue: #14213d;
  --color-Orange: #fca311;
  --color-Platinum: #e5e5e5;
  --color-White: #ffffff;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: var(--color-Platinum);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

h1 {
  color: var(--color-Oxford-blue);
  text-align: center;
  font-size: 40px;
}

