body {
  font-family: Roboto, sans-serif;
  text-align: center;
}

#ketLuan {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

#canvasContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-items: center;
}

#maTran table {
  border-collapse: collapse;
}

#maTran th,
#maTran td {
  border: 1px solid #000000;
  padding: 11.5px;
  text-align: center;
  margin-left: 20px;
}

#maTran th {
  background-color: #f0f0f0;
}

#maTraKe {
  margin-left: 20px;
}

.ketQuaEuler {
  display: flex;
  justify-content: center;
  align-items: center;
}

#trangChu {
  position: fixed;
  left: 1%;
  top: 1%;
}